@import url('styles.css');



#page-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100vh;
    padding: 64px;
}


#page-content h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primaryColor);
    letter-spacing: 2px;
    width: 80%;
    margin: 0px 100px;
}

#page-content h3{
    font-size: 1.4rem;
    font-weight: 500;
    color: #242424;
    letter-spacing: 1px;
    text-align: start;
    margin: 0px 100px;
}

#page-content img{
    height: 80%;
    
    align-self: center;
}


@media screen and (max-width: 900px) {
    #page-content h1{
        width: 100%;
        margin: 0px;
    }

    #page-content h3{
        font-size: 1.2rem;
        margin: 0px;
    }
    
    #page-content img{
        height: 80%;
        
        align-self: center;
    }
}